/* clientes */
.flexRowContent--desklinha1 {
  margin-left: 16px;
  padding-top: 20px;
}
.flexRowContent--desklinha2 {
  margin-left: 25px;
  padding-top: 40px
}
.flexRowContent--desklinha3 {
  margin-left: 25px;
  padding-top: 45px
}

.flexRowContent--desklinha4 {
  margin-left: 25px;
  padding-top: 50px
}
.flexRowContent--desklinha5 {
  margin-left: 25px;
  padding-top: 55px
}

/* clientes */
.flexRowContent--moblinha1 {
  padding-top: 0px;
}
.flexRowContent--moblinha2 {
  padding-top: 20px;
}
.flexRowContent--moblinha3 {
  padding-top: 20px;
}
.flexRowContent--moblinha4 {
  padding-top: 20px;
}
.flexRowContent--moblinha5 {
  padding-top: 20px;
}
.flexRowContent--moblinha6 {
  padding-top: 20px;
}
.flexRowContent--moblinha7 {
  padding-top: 20px;
}
.flexRowContent--moblinha8 {
  padding-top: 20px;
}
.flexRowContent--moblinha9 {
  padding-top: 20px;
}
.flexRowContent--moblinha10 {
  padding-top: 20px;
}

@media screen and (max-width: 48em) {
  .flexRowContent--menu-header-mobile {
    position: absolute;
    top: 0;
    z-index: 1;
    overflow: hidden;
    height: 9rem;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.59), transparent);
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .flexRowContent--menu-header-mobile {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    height: 9rem;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.8519782913165266) 90%,
      rgba(0, 0, 0, 0) 100%
    );
    align-items: center;
    justify-content: space-between;
  }
}

.flexRow--layout-website {
  font-size: 12px;
}

.flexRow--layout-language:global(.vtex-flex-layout-0-x-flexRow) {
  font-size: 12px;
  margin-left: 0;
  margin-right: 0;
}
.flexRow--footer {
  background: #f5f5f5;
  position: relative;
  overflow: hidden;
  padding-top: 200px;
}

.flexCol--contentfooter {
  background: #000;
  position: relative;
  z-index: 2;
  margin-right: calc(50% - 680px);
  padding: 120px 90px 160px calc(50% - 600px);
}

.flexCol--contentfooter :global(.vtex-store-link-0-x-link) {
  width: auto;
  margin-left: -20px;
}

.flexRow--textcountries {
  margin-bottom: 150px;
}

.flexCol--footer-logo-icon {
  color: #fff;
}

.flexCol--imagefooter {
  background: #f5f5f5;
  position: absolute;
  text-align: right;
  z-index: 1;
  top: 100px;
  left: 0;
}

.flexRow--footer-go-top {
  position: absolute;
  bottom: 60px;
  right: -170px;
}

.flexRow--footer-go-top :global(.vtex-store-link-0-x-link) {
  text-decoration: none;
}

.flexRow--footer-go-top-mobile {
  margin: 67px auto 47px;
  width: 20%;
  text-align: center;
}

.flexRow--footer-go-top-mobile :global(.vtex-store-link-0-x-link) {
  text-decoration: none;
}

.flexRow--footer-mobile {
  background: #f5f5f5;
  position: relative;
  margin-top: 40px;
}

.flexCol--contentfootermobile {
  background: #000;
  margin-top: 100px;
  padding: 60px 25px 40px;
  z-index: 2;
}

.flexCol--imagefooter-mobile {
  position: absolute;
  z-index: 1;
  top: 0;
  text-align: right;
}

.flexRow--logofootermobile {
  text-align: center;
  margin-bottom: 54px;
}

.flexRow--icons-mobile {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.flexColChild--social-mobile :global(.vtex-rich-text-0-x-container) {
  justify-content: center;
}

/* Cor dos botões em preto, de acordo com a identidade da Corebiz */
.stretchChildrenWidth :global(.vtex-button) {
  background: #000;
  border-color: #000;
}

.flexCol--somos-corebiz-parceros {
  padding: 125px 120px 125px calc(50% - 170px);
}

.flexRowContent--desk-img-parceiros {
  align-items: center;
}
.flexRow--product-page {
  background: #fff;
}
.flexCol--somos-corebiz-parceiros {
  padding-left: 10px;
  padding-right: 150px;
}

.flexRow--breacrumb-product {
  margin-top: 70px;
}

.flexRow--imagens-parceiros {
  margin-bottom: 100px;
}

/* MEDIA SECTION DESKTOP*/

.flexRow--on-media-container,
.flexRow--media-section-container {
  position: relative;
  overflow-x: hidden;
}

.flexRowContent--on-media-container,
.flexRowContent--media-section-container {
  width: 100%;
  background-color: #000;
  background-image: url("assets/background-media.png");
  background-size: contain;
  box-sizing: border-box;
  background-repeat: no-repeat;
  color: #ffffff;
  display: block;
  font-size: 10px;
  margin: 0;
  padding: 100px 0 0 0;
  z-index: 2;
}

.flexRowContent--media-slider-text-container {
  padding-top: 2rem;
}

.flexRowContent--on-media-container::before {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  background-image: "assets/background-media.png";
  background-size: 60%;
  content: "";
  background-position: 10% 45px;
  background-repeat: no-repeat;
  z-index: -1;
}

.flexRowContent--media-section-container::before {
  width: 100%;
  position: absolute;
  height: 780px;
  bottom: 1rem;
  top: 0;
  background-image: "assets/background-media.png";
  background-size: 60%;
  content: "";
  background-position: 10% 45px;
  background-repeat: no-repeat;
  z-index: -1;
}

.flexCol--media-text-container {
  box-sizing: content-box;
  display: flex;
  font-size: 10px;
  margin: auto;
  padding: 0 20px;
  max-width: 1360px;
}

.flexRowContent--media-slider-text-container {
  display: block;
  box-sizing: border-box;
  margin-top: 45px;
  width: 100%;
  max-width: none;
  font-size: 18px;
  margin-left: 220px;
}

.flexCol--slider-card-1 {
  height: 500px;
  width: 303px;
  background: #ff6e60;
  padding: 40px 30px 20px 30px;
}

.flexCol--slider-card-2 {
  height: 500px;
  width: 303px;
  background: #91a7d0;
  padding: 40px 30px 20px 30px;
  margin: 2rem;
}

.flexColChild--slider-card-1 {
  height: 20%;
}

/* MEDIA SECTION MOBILE */

.flexRow--media-section-container-mobile {
  position: relative;
  overflow-x: hidden;
  background-image: url("assets/background-media.png");
  background-size: cover;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.flexRowContent--on-media-container-mobile,
.flexRowContent--media-section-container-mobile {
  box-sizing: border-box;
  background-repeat: no-repeat;
  color: #ffffff;
  display: block;
  font-size: 10px;
  margin: 0;
  padding: 100px 0 0 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
}

.flexRowContent--media-slider-text-container-mobile {
  display: block;
  box-sizing: border-box;
  margin-top: 45px;
  max-width: none;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  margin-bottom: 30px;
  width: 100vw;
}

.flexRowContent--on-media-container-mobile::before {
  height: 100vh;
  bottom: 0;
  top: 0;
  background-image: "assets/background-media.png";
  background-size: 60%;
  content: "";
  background-position: 10% 45px;
  background-repeat: no-repeat;
  z-index: -1;
  width: 100vw;
}

.flexRowContent--media-section-container-mobile::before {
  height: 100vh;
  bottom: 1rem;
  top: 0;
  background-image: "assets/background-media.png";
  background-size: 60%;
  content: "";
  background-position: 10% 45px;
  background-repeat: no-repeat;
  z-index: -1;
  width: 100vw;
}

:global(.vtex-store-components-3-x-infoCardTextContainer--media-card1) {
  width: 50%;
}

.flexCol--slider-card-1-mobile {
  height: 365px;
  background: #ff6e60;
  padding: 40px 30px 40px 30px;
  z-index: 1;
  width: 685px;
  text-decoration: none;
  margin-right: 2rem;
  align-items: center;
}

.flexCol--slider-card-2-mobile {
  height: 365px;
  width: 685px;
  background: #91a7d0;
  padding: 40px 30px 40px 30px;
  z-index: 1;
  text-decoration: none;
  margin-right: 2rem;
  align-items: center;
}
.flexRow--page-leads{
  margin-top: 70px;
}
.flexRow--secao-clientes{
  background-color: #000;
  padding-bottom: 70px;
  margin-top: -5px;
}
.flexRow--desk-somos-corebiz{
  margin-top: -4px;
}