:global(.vtex-slider-layout-0-x-sliderRightArrow ){
    background: #fff;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.sliderArrows--slider-mobile{
    background: #fff;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

/* /*sliderRightArrow, sliderRightArrow--slider-desktop, sliderArrows, sliderArrows--slider-desktop  */

.layoutContainer--shelf {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 96rem;
  }
  

.slide--shelf {
    margin-bottom: 25px;
    padding-left: .5rem;
    padding-right: .5rem;
  }