
/*CASE-MOBILE*/

.sliderArrows--slider-mobile{
    bottom: 0;
}

.caretIcon--slider-desktop{
    background: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.caretIcon--slider-mobile{
    background: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*MEDIA SECTION */

.slideChildrenContainer--media-slider{
    justify-content: space-around;
    width: auto;
}

.slide--media-slider:global(.vtex-slider-layout-0-x-slide){
    width: 150%;
}

/*MEDIA SECTION MOBILE*/

.slideChildrenContainer--media-slider-mobile{
    width: 100vw;
    margin-right:10px;
    right: 2%
}

.sliderArrows--media-slider-mobile{
    bottom: 0;
    margin: 0;
    justify-content: center;
    padding-right: 6%;
}

.caretIcon--media-slider-mobile{
    background: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transform: translatey(150%);
}
