
@media screen and (max-width: 48em) {
  .flexRowContent--menu-header-mobile {
    position: absolute;
    top: 0;
    z-index: 1;
    overflow: hidden;
    height: 9rem;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.59), transparent);
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
    .flexRowContent--menu-header-mobile {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
      overflow: hidden;
      height: 9rem;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.59), transparent);
      align-items: center;
      justify-content: space-between;
    }
  }


.flexRow--layout-website {
    font-size: 12px;
}

.flexRow--layout-language:global(.vtex-flex-layout-0-x-flexRow) {
    font-size: 12px;
    margin-left: 0;
    margin-right: 0;
}
.flexRow--footer {
    background: #f5f5f5;
    position: relative;
    overflow: hidden;
    padding-top: 200px;
}

.flexCol--contentfooter {
    background: #000;
    position: relative;
    z-index: 2;
    margin-right: calc(50% - 680px);
    padding: 120px 90px 160px calc(50% - 600px);
}

.flexCol--contentfooter :global(.vtex-store-link-0-x-link) {
    width: auto;
    margin-left: -20px;
}

.flexRow--textcountries {
    margin-bottom: 150px;
}

.flexCol--footer-logo-icon {
    color: #fff;
}

.flexCol--imagefooter {
    background: #f5f5f5;
    position: absolute;
    text-align: right;
    z-index: 1;
    top: 100px;
    left: 0;
}

.flexRow--footer-go-top {
    position: absolute;
    bottom: 60px;
    right: -170px;
}


.flexRow--footer-go-top :global(.vtex-store-link-0-x-link) {
    text-decoration: none;
} 