.flexRowContent--desklinha1 {
    margin-left: 75px;
    padding-top: 250px;
    /* justify-content: space-around; */
}

.flexRowContent--desklinha2 {
    margin-left: 75px;
    padding-top: 350px
}
.flexRowContent--desklinha3 {
    margin-left: 75px;
    padding-top: 450px
}

.flexRowContent--desklinha4 {
    margin-left: 75px;
    padding-top: 550px
}
.flexRowContent--desklinha5 {
    margin-left: 75px;
    padding-top: 650px
}




.flexRowContent--moblinha1 {
    padding-top: 250px;
}
.flexRowContent--moblinha2 {
    padding-top: 350px;

}
.flexRowContent--moblinha3 {
    padding-top: 450px;

}
.flexRowContent--moblinha4 {
    padding-top: 550px;

}
.flexRowContent--moblinha5 {
    padding-top: 650px;

}
.flexRowContent--moblinha6 {
    padding-top: 750px;

}
.flexRowContent--moblinha7 {
    padding-top: 850px;

}
.flexRowContent--moblinha8 {
    padding-top: 950px;
}
.flexRowContent--moblinha9 {
    padding-top: 1050px;
}
.flexRowContent--moblinha10 {
    padding-top: 1150px;
}

